# Dotenv config
**/.env
*.Renviron

# Data
data/**
**/*.html
*.json
*.csv
*.pdf
*.pages
*.docx
**/*.png
**/*.sav

**/*.Rproj
.Rproj.user
.Rhistory
*.RData
.Ruserdata

*.vscode
__pycache__/

# TEX
**/*.tex
**/*.out
**/*.log
**/*.aux
