# Dotenv config
**/.env
*.Renviron

# Data
**/*.html
*.json
*.pdf
*.pages
*.docx
**/*.png
**/*.jpg

**/*.Rproj
.Rproj.user
.Rhistory
*.RData
.Ruserdata

*.vscode
__pycache__/

# TEX
**/*.tex
**/*.out
**/*.log
**/*.aux
